/10_max.c
/11_checkcharacter.c
/12_Grade.c
/13_payslip.c
/14_day.c
/15_number.c
/16_lastDigit.c
/17_factorial.c
/18_reversenumber.c
/19_fibonacci.c
/20_firstlastdigitsum.c
/21_sum_avg.c
/22_student_marks.c
/23_Height.c
/24_Prime.c
/25_series_pow.c
/26_series.c
/27_series.c
/28_series_evaluatesum.c
/29_P1.c
/29_P2.c
/29_P3.c
/2_Area.c
/30_P1.c
/30_P2.c
/30_P3.c
/30_P4.c
/31_P1.c
/31_P2.c
/32_Array.c
/33_evenodd.c
/34_max.c
/35_geo&har.c
/36_Sort.c
/37_find.c
/38_replace.c
/39_delete.c
/3_interest.c
/40_reverse.c
/41_Upper.c
/42_function_add.c
/43_function_prime.c
/44_function_swap.c
/45_recursive_series.c
/46_factorial_recursive.c
/47_variable.c
/48_function.c
/49_struct.c
/4_INTERCHANGE.c
/50_extra.c
/50_struct_personal.c
/51_time.c
/52_cricket.c
/53_studentrecord.c
/54_address.c
/55_swap_pointer.c
/56_char_pointer.c
/57_access_pointer.c
/58_sort_pointer.c
/59_file.c
/5_Kilometre.c
/60_file.c
/6_Fahrenheit.c
/7_distancetravelled.c
/8_number.c
/9_pass fail.c